.partner {
    text-align: center;
    margin-top: 1em;
}

.partner h1 {
    font-weight: bold;
    font-size: 1.1em !important;
    padding-top: 1em;
    color: #444 !important;
    min-height: 2.5em;
}

.partner p {
    font-size: 0.9em;
    color: #666;
    text-align: left;
}

.logo {
    min-height: 80px;
    vertical-align: middle;
}

.logo img {
    margin: auto;
    vertical-align: middle;
}

body {
    background-color: #f3f3f3;
    min-height: 100% !important;
    height: 100%;
}

.container {
    background-color: #fff;
    min-height: 100% !important;
    height: 100%;
    padding: 2em;
}

.copyright {
    margin-top: 4em;
    border-top: 1px solid #ccc;
    font-size: 0.8em;
}

.copyright p {
    margin-top: 1em;
    color: #999;
}

.fullwidth {
    margin-left: -2em;
    margin-right: -2em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em;
    background-color: #f7f7f7;
}

.fullwidth h1 {
    font-weight: bold;
    font-size: 1.2em !important;
    padding-top: 1em;
    color: #444 !important;
    margin-bottom: 1em;
}

.fullwidth p {
    padding-left: 1em;
    padding-right: 1em;
}
